<div class="header">
<button type="submit" class="btn btn-primary">New Category</button>
<button type="submit" class="btn btn-primary">New Task</button>
<h1>To-Do</h1>

<h2>USERNAME</h2>

<form action='/logout' method='POST'>
  <button type="logout" class="btn btn-primary">Logout</button>
</form>
</div>

