<nav class="navbar" id="top-nav">
  <div class="header-button-group">
    <button type="button" class="btn btn-primary btn-block" id="add-category">New Category</button>
    <button type="button" class="btn btn-secondary btn-block" id="add-task">New Task</button>
  </div>
  <h1>Do It</h1>

  <div>
    <p>ex@dev.com</p>
    <form action='/login' method='POST'>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</nav>

