<nav class="navbar" id="top-nav">
  <div class="header-button-group">
    <button type="button" class="btn btn-primary btn-block" id="add-category">New Category</button>
    <button type="button" class="btn btn-secondary btn-block" id="add-task">New Task</button>
  </div>
  <h1>Do It</h1>

  <div>
    <%if(email){%>
    <p>
      <%= email%>
    </p>
    <form action='/logout' method='POST'>
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
    <%}else{%>
    <div class="header-button-group">
      <form action='/register' method='POST'>
        <button type="button" class="btn btn-primary btn-block" id="add-user">Register</button>
      </form>
      <form action='/login' method='POST'>
        <button type="submit" class="btn btn-secondary btn-block login-button">Login</button>
      </form>
    </div>
    <%}%>
  </div>
</nav>
