<nav class="navbar navbar-dark bg-primary">
  <div class="header-button-group">
    <button type="button" class="btn btn-primary btn-block">New Category</button>
    <button type="button" class="btn btn-secondary btn-block">New Task</button>
  </div>
  <h1>To-Do</h1>

  <div>
    <p>Username</p>
    <form action='/logout' method='POST'>
      <button type="logout" class="btn btn-primary">Logout</button>
  </div>
  </form>
</nav>

