<div class="form-popup" id="edit-task-form">
  <header class="task-name">
      <h1>NewTask</h1>
  </header>
  <body>
  <form action="/index.ejs" class="form-container">
    <div>
    <input type="text" placeholder="TaskName" name="submit" required>
    <div>
    <button type="submit" class="btn-save" onclick="closeForm()">Save</button>
  </form>
  <body>
</div>