@import './node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .side-scroll {
    flex: 0 0 auto;
  }
}