@import './node_modules/bootstrap/scss/bootstrap.scss';

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 1em;
  height: 75vh;

  .card.bg-light {
    width: 30%;
    margin: 0 1vw;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 0;
    flex-shrink: 1;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    p {
      margin: 0;
    }

    .complete-task {
      height: 30px;
      width: 30px;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.125);

      .checkmark {
        font-size: 2em;
        opacity: 0;
      }
    }

    .complete-task:hover {
      .checkmark {
        opacity: 1;
        position: relative;
        top: -7px;
        -webkit-transition: opacity 500ms ease-in;
        -ms-transition: opacity 500ms ease-in;
        transition: opacity 500ms ease-in;
      }
    }
  }

  div.card-body:hover {
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }

  .side-scroll {
    flex: 0 0 auto;
  }
}

nav {
  .header-button-group {
    width: 10%;
  }
}