@import './node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card.bg-light {
    width: 30%;
  }

  .side-scroll {
    flex: 0 0 auto;
  }
}
